body{
	text-align:center;
}
.btn{
	border:solid 2px black;
 	width:100px;
	height:100px;
	display:inline;
	font-size:30px;
	color:#00665A;
	background-color:#1CE0FF;
}
h1{
	color:#0AD3FC;
}
	